h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background: #F7F9FC;

  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: lighter;
}

h2 {
  color: #bff705;
  font-size: 25px;
  font-weight: lighter;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #1a96c7;
  font-weight: 600;
  font-size: 16px;
}

.img-circle {
  border: 1px solid rgb(123, 255, 0);
    border-radius: 50%;

}

.img-lewagon {
    border-radius: 50%;
}


.card-white {

  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,175,230,1) 35%, rgba(0,212,255,1) 100%)

}


div {
  display: block;
}

.button_blue {
  display: flex;
    justify-content: center;
    gap: 20px;

}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.highlighted {
  padding: 2px 15px 4px;
  font-style: normal;
  border-radius: 3px;
}

.highlighted-red {
  color: #e60f05;
  color: var(--red);
  background: #ffe0e1;
  background: var(--light-red);
  --light-red: #ffe0e1;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .card-white {
    width: 300px;
  }
}
